.icon-cal,
.icon-todo,
.icon-countup {
  display: none;
}

.pics-title {
  display: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 500px;
}

.flex-item {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}
